* {

    margin:0;
    padding:0;

}



header, .main, footer {
   
    width:90%;
     max-width:1000px;
     margin:20px auto;
}

header nav {
       background:#000000; 
       overflow:hidden;
       
}

header nav ul{
   list-style:none;
}

header nav ul li {
  float:left;
}

 header nav ul li a {
 padding:10px 20px;
 display:block;
 color:#fff;
text-decoration:none;
 }
 header nav ul li a:hover {
 background:#C0C0C0;;
}

.main .articles {
     width:100.0%;
     margin-right:1.5%;
     float:left;
     background:#FFFFFF ;
  }
 aside {
   width:100.0%;
    background:#FFFFFF;
    float:left;
    padding:40px;
    box-sizing:border-box;
}
footer {
   background:#000;
    color:#fff;
    clear:both;
    padding:10px 0px;
    text-align:left;
}
